* {
    margin: 0;

} 

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px; 
}

.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    font-size: 24px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
}

.About {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 50px;
    color: #f9faf8;
    font-size: 18px; 
    padding: 100px;
}

.Jamie {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    padding: 10px;
}

.title {
    font-size: 48px;
    color: #f9faf8;

}

#bible {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    width: 300px;
    border: solid #f9faf8 5px;
}