* {
    background-color: black; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0, auto;
}
h1 {
    width: 100%;
    text-align: center;
    background-color: red;
}
img {margin-left: 40%;
        margin-right: 50%;
        margin-top: 0;
    }
ul {text-align: center;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}
li {display: inline;}